.border {
  height: 100%;
  width: 6;
}

.card {
  background-color: #FFF;
  margin: 10 0;
}

.card-code {
  color: #898989;
  margin-top: 40;
  font-size: 16;
  font-weight: 700;
}

.card-details {
  padding: 20 10;
}

.card-details .title {
  color: black;
  font-size: 16;
  font-weight: 700;
  margin: 0;
}

.card-details .sub-title {
  color: #898989;
  margin: 0;
  padding: 0;
}

.red {
  background-color: #EA252B;
}

.green {
  background-color: #1CB76C;
}

.yellow {
  background-color: #FEDD32;
}

.container-title {
  margin: 15
}
