StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: #F0F0F1;
}
Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #2A7063;
}

.logo {
  margin: 50px 0;
}

.login-button {
  background-color: #59bcaa;
  color: white;
  font-size: italic;
  margin-top: 20;
  padding: 5px 25px;
  text-transform: uppercase;
}

.forgot-password {
  color: #878787;
  font-size: 10px;
}
