ActionBar {
  background-color:  #fdca2e;
  color: black;
}

Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 25;
}

StackLayout {
  background-color: #f9f9f9;
}

.body {
  padding: 25;
}

.copyright {
  color: #878787;
  margin-top: 10;
  font-size: 8;
  font-style: italic;
}

.logo {
  margin: 15 0 50 0;
}

.login-button {
  background-color: #fdca2e;
  color: black;
  font-size: 14;
  font-style: italic;
  margin-top: 25;
  padding: 5 30;
  text-transform: uppercase;
}

.forgot-password {
  color: #878787;
  font-size: 10;
}
